
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}

@section Body {

    @*<div class="well well-lg my-well-container margin-off">*@

        <table class="table table-bordered margin-off">
            <thead>
                <tr class="info">
                    <th colspan="2">
                        Авторизация
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Email</td>
                    <td><input class="form-control" type="text" id="txtEmail" placeholder="Email" /> </td>
                </tr>
                <tr>
                    <td>Пароль</td>
                    <td>
                        <input class="form-control" type="password" id="txtPassword"
                               placeholder="Password" />
                    </td>
                </tr>
                <tr class="info">
                    <td colspan="2">
                        <input id="btnLoginSubmit" class="btn btn-primary"
                               type="button" value="Войти" />
                    </td>
                </tr>
            </tbody>
        </table>

        <!--Bootstrap alert to display any validation errors-->
        <div id="divError" class="alert alert-danger collapse divError">
            <a id="linkClose" href="#" class="close">&times;</a>
            <div id="divErrorText"></div>
        </div>


        <script src="Scripts/jquery-1.10.2.min.js"></script>
        <script src="Scripts/bootstrap.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {

                //Close the bootstrap alert
                $('#linkClose').click(function () {
                    $('#divError').hide('fade');
                });

                // Save the new user details
                $('#btnLoginSubmit').click(function () {
                    $.ajax({
                        url: '/token',
                        method: 'POST',
                        contentType: "application/json",
                        data: {
                            username: $("#txtEmail").val(),
                            password: $("#txtPassword").val(),
                            grant_type: 'password'
                        },
                        success: function (data) {
                            //sessionStorage.setItem('accessToken', data.access_token);
                            window.location.href = 'Index';
                        },
                        error: function (jqXHR) {

                            var responseText = '';

                            if (JSON.parse(jqXHR.responseText))
                                responseText += JSON.parse(jqXHR.responseText).error_description;

                            $('#divErrorText').text(responseText);
                            $('#divError').show('fade');
                        }
                    });
                });
            });
        </script>
    @*</div>*@

}