@model string    

@{
    ViewBag.Title = "Patent System. Main Menu";
}


    @{
        if (Model != null)
        {
            @Html.Partial("~/Views/Shared/_partialWriteStringView.cshtml",
                   String.Format("Wellcome, {0}", @Model))

            <button class="btn btn-primary" id="logoutBtn">Logout</button>

        }
        else
        {
            <div>
                @Html.Partial("~/Views/Shared/_partialWriteStringView.cshtml",
                   String.Format("You are not autorized. Please log in."))
            </div>
        }
    }

    <div class="well well-lg blue_clr margin-off" style="margin-top:30%">
        @Html.Partial("~/Views/Shared/_partialWriteStringView.cshtml",
                   String.Format("Web-service PATENT. Made by Basha Pavlo. Group 942"))
    </div>





<script type="text/javascript">
    $(document).ready(function () {

        $('#logoutBtn').click(function () {

            if (typeof location.origin === 'undefined') {
                location.origin = location.protocol + '//' + location.host;
            }

            var siteUrl = location.origin;

            $.ajax({
                url: siteUrl + "/api/Account/Logout",
                method: "POST",
                headers: {
                    'Authorization': 'Bearer ' + sessionStorage.getItem('accessToken')
                },
                success: function (responce) {

                    window.location.href = siteUrl;
                }
            });
        });

    })
</script>