@using PATENT.Views.Modals
@model ModalObjectData

<!-- add PAYMENT Modal -->
<div class="modal fade" id="addPaymentModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Добавить новый платеж</h4>
            </div>

            @using (Ajax.BeginForm(Model.ControllerMethod, Model.Controller, new { id = Model.ID }, new AjaxOptions { HttpMethod = "Post" }))
            {
                <div class="modal-body">

                    <div class="form-group">
                        <div class="row">
                            <div class="pull-left col-sm-offset-1">
                                <label>Название:</label>
                            </div>
                            <div class="pull-right col-xs-6">
                                <input type="text" name="PaymentName" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="pull-left col-sm-offset-1">
                                <label>Сумма:</label>
                            </div>
                            <div class="pull-right col-xs-6">
                                <input type="text" name="Amount" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="pull-left col-sm-offset-1">
                                <label>Номер:</label>
                            </div>
                            <div class="pull-right col-xs-6">
                                <input type="text" name="PayNumber" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="pull-left col-sm-offset-1">
                                <label>Дата:</label>
                            </div>
                            <div class="pull-right col-sm-6">
                                <div class='input-group date col-md-offset-1' id='datetimepicker2'>
                                    <input name="Date" class="form-control" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <script type="text/javascript">
                                $(function () {
                                    $('#datetimepicker2').datepicker();
                                });
                        </script>
                    </div>


                    <div class="form-group">
                        <div class="row">
                            <div class="pull-left col-sm-offset-1">
                                <label>Тем. часть:</label>
                            </div>
                            <div class="pull-right col-xs-6">
                                <input type="text" name="TopicPart" class="form-control" />
                            </div>
                        </div>
                    </div>

                </div>

                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary pull-right" value="Создать" />
                    </div>
            }

        </div>
    </div>
</div>